---
layout: blog
title: Blog Thing
permalink: /blog/
---

<div class="container mtb">
    <div class="row">

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8 col-lg-offset-2">

            {% for post in site.categories['blog'] %}
                <!-- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {% if post.img %}<img class="img-responsive" style="margin: 0 auto;" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">{% endif %}
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}" style="color: {{ site.colors.text }};"><i class="fa fa-arrow-right"></i></a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><!-- /col-lg-8 -->
    </div><!-- /row -->
</div><!-- /container -->