<section id="contact" style="/*background-color: {{ site.colors.red }};*/">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="/*color: #fff;*/ letter-spacing: 2px; text-transform: uppercase; margin-bottom: 0;">Send something nice to</p>
                <div class="contact-address" style="margin: -10px 0 15px;">
                    <p>hello<i class="fa fa-at"></i>robotmilk.co</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="iframe-container"><iframe src="https://contact.robotmilk.co/" width="500" height="405" seamless style="border: 0;" frameborder="0" scrolling="no"></iframe></div>
            </div>
        </div>
    </div>
</section>