<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center email">
                <p>hello</p>
                <i class="fa fa-at"></i>
                <p>robotmilk.co</p>
            </div>
            <div class="col-lg-12 text-center">
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /footerwrap -->