<section id="portfolio-grid">
    <div class="container-fluid">
        <div class="row">
            {% for project in site.categories['project'] limit:include.limit %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-grid-item">
                <a href="{{ project.url | prepend: site.baseurl }}" title="{{ project.title }}">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="{{ project.title }}">
                    <h3 class="portfolio-grid-hover-title">{{ project.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>