<section id="grid" style="padding-top: 160px">
    <div class="container-fluid">
        <div class="row">
            {% for project in site.categories['project'] limit:include.limit %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="{{  project.url | prepend: site.baseurl }}" title="{{ project.title }}">
                    <div class="grid-item">
                        
                        <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="{{ project.title }}">
                        <!--{% if project.video %}
                        <div class="icontain mb-s">
                          <iframe src="{{ project.video }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% endif %}-->
                        
                        <h3 class="mtb" style="height:40px;">{{ project.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>