<section id="portfolio">
    <div id="portfoliowrap">
        <div class="portfolio-centered">
            {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
            <div class="recentitems portfolio">
                {% for project in site.categories['project'] limit:include.limit %}
                    <a href="{{  project.url | prepend: site.baseurl }}" alt="{{ project.title }}">
                    <div class="portfolio-item graphic-design">
                        <div class="he-wrap tpl6">
                        <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                            <div class="he-view">
                                <div class="bg a0" data-animate="fadeIn">
                                    <h3 class="portfolio-hover-title" data-animate="fadeIn">{{ project.title }}</h3>
                                </div><!-- he bg -->
                            </div><!-- he view -->		
                        </div><!-- he wrap -->
                    </div><!-- end col-12 -->
                    </a>
                {% endfor %}
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
    </div><!--/Portfoliowrap -->
</section>