<div class="col-lg-4 visible-lg">
        <p>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rss-btn"><i class="fa fa-rss-square"></i></a>
        </p>

    <div class="spacing"></div>
    
    <div class="hline"></div>
<!--
    <h4>Recent Posts</h4>
        <ul class="popular-posts">
            {% for post in site.categories['blog'] limit:10 %} 
                <li>
                    <!--<a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>->
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %} 
        </ul>
-->
</div>