html {
    width: 100%;
    height: 100%;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: {{ site.colors.purple }};
    <!--background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;-->
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.intro-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    text-rendering: optimizeLegibility;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 72px;
        line-height: 72px;
    }
}
@media screen and (min-width: 992px) {
    .intro-text {
        font-size: 100px;
        line-height: 100px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    font-size: 50px;
    color: #fff;
  
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    box-shadow: none;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
