* { 
    margin: 0;
    padding: 0px;
} 

html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: {{ site.colors.dark }};
    background-image: linear-gradient(180deg, #111 0%, #1c1c30 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: #e2e1e0;*/

	margin: 0 0 221px; 
	height: 100%; 
	color: {{ site.colors.text }};
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
    -webkit-font-smoothing: antialiased;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    color: {{ site.colors.headline }};
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
	font-size: 14px; 
	line-height: 24px;
	color: {{ site.colors.text }}; 
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

ul {
    margin-left: 0;
    padding-left: 20px;
}

ol {
    margin-left: 0;
    padding-left: 26px;
}

a { 
/*    color:{{ site.colors.link }};*/
    color: inherit;
    padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
a:hover,
a:focus {
  text-decoration: none;
/*  color:{{ site.colors.link_hover }};*/
}

#things p a, article.project p a{
    border-bottom: 2px solid {{ site.colors.primary }};
    box-shadow: inset 0 -2px 0 {{ site.colors.primary }};
}
#things p a:hover,
article.project p a:hover,
#things p a:focus,
article.project p a:focus {
  text-decoration: none;
/*  color:{{ site.colors.link_hover }};*/
    background: {{ site.colors.primary }};
    
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:{{ site.colors.text }};
}
::selection {
	color: #fff;
	text-shadow:none;
	background:{{ site.colors.text }};
}

.centered {
	text-align: center
}


.white-text {
    color: white;
}
.white-text a {
    color: rgba(255,255,255,0.666);
}
.white-text a:hover {
    color: white;
}


.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mtb-s {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mb-xl {
	margin-bottom: 90px;
}

.mb {
	margin-bottom: 60px;
}

.mb-m {
	margin-bottom: 30px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 1px solid {{ site.colors.primary }};
    width: 30px;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}


/*** PAGE ***/
#page-title {
	margin-top: 90px;
	margin-bottom: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
    text-align: center;
}

#page-title h1 {
	color: {{ site.colors.headline }};
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
}

/*** /page ***/


/*** PORTFOLIO GRID ***/

.portfolio-hover-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio .portfolio-grid-item {
    padding: 0;
}

.portfolio-item h3 {
    margin: 20px 0 15px; 
    font-size: 16px;
    text-transform: uppercase;
}

/* /portfolio-grid */


/*** PROJECT ***/

#project-title {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
    text-align: center;
}

#project-title h1 {
	color: {{ site.colors.headline }};
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
}

.project p {
    color: #eee;
}
.project-details h4 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}
.project-details b{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    #project-title h1{
        font-size: 32px;
    }
}
@media screen and (max-width: 440px) {
    #project-title h1{
        font-size: 24px;
    }
}

/* /project */



/*** FOOTER ***/
.email i{
    color: #fff !important;
    font-size: 20px !important;
    padding-right: 0px !important;
    cursor: text;
}
.email p{
    color: #fff !important;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
}

footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: {{ site.colors.primary_dark }};
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
	color: #fff;
}

footer i {
	font-size: 30px !important;
	color: {{ site.colors.red }};
	padding-right: 25px;
}

footer i:hover {
	color: {{ site.colors.yellowy-white }};
}
/* /footer */



/* keep embedded videos fluid! */
.icontain {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* keep 16x9 Aspect Ratio */
}
.i4x3 { padding-bottom: 75.00%; } /* keep 4x3 Aspect Ratio */
.icontain iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}






/*** ABOUT ***/

#about .intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
   /*background-color: #9b7db4;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

#about .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

#about .intro .intro-body .brand-heading {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

#about .intro-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    text-rendering: optimizeLegibility;
}

@media(min-width:767px) {
    #about .intro {
        height: 100%;
        padding: 0;
    }

    #about .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    #about .intro-text {
        font-size: 72px;
        line-height: 72px;
    }
}
@media screen and (min-width: 992px) {
    #about .intro-text {
        font-size: 100px;
        line-height: 100px;
    }
}


#about {
    /*background-color: #190F14;*/
    width: 100%;
    padding: 100px 20px;
}
#about .intro-text {
    line-height: normal;
}
@media screen and (min-width: 992px) {
    #about .intro-text {
        font-size: 72px;
    }
}
#about h3 {
    color: #444;
    line-height: 32px;
}

#about .about-text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
/* /intro */


/*** CONTACT ***/
#contact {
    min-height: 100vh;
    width: 100%;
    display: table;
    padding: 0;
    margin: 0;
    text-align: center;
}

#contact .container {
    display: table-cell;
    vertical-align: middle;
    padding-top: 60px;
}
@media (max-width: 767px){
    #contact .container {
        padding-top: 60px;
    }
}

.contact-address p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
}
.contact-address i {
    cursor: text;
}

@media screen and (max-width: 400px){
    .contact-address p, .contact-address i{
        font-size: 20px !important;
        line-height: 24px;
    }
}


.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 470px;
    max-width: 300px;
    margin: 0 auto;
}
.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* /contact */



.rss-btn {
    color: #222;
    font-size: 30px;
}
.rss-btn:hover {
    color: #f37538;
}




/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
    position: absolute; <!-- make it not fixed --->
}

.navbar-brand {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: {{ site.colors.primary }} !important;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus, {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	/*color: #F5EBCD;*/
    color: {{ site.colors.primary }};
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
    /*border-bottom: 1px solid #fff;*/
    padding-bottom: 5px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.dropdown-menu {
	background: {{ site.colors.text }};
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

/*** mobile menu ***/
.navbar-default .navbar-toggle i {
    font-size: 20px;
}
.navbar-default .navbar-toggle {
    border: 0;
    color: #fff;
}
/* change icon */
.navbar-toggle.active i:before {
    content: "\f00d" !important;
}
.collapsed i:before{
    content: "\f0c9" !important;
}
.navbar-toggle:active {
    top: 2px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

@media screen and (max-width: 767px){
    .navbar-collapse{
        background-color: {{ site.colors.primary_dark }};
        border-top: 0;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 40px;
        line-height: 60px;
    }
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        border-bottom: 0;
        color: {{ site.colors.purple }};
    }
}

/*** /nav **/



.btn-theme {
  color: #fff;
  background-color: {{ site.colors.text }};
  border-color: {{ site.colors.text }};
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: {{ site.colors.purple }};
  border-color: {{ site.colors.purple }};
}
