---
layout: default
---
<article class="project">
    <div class="container mt mb-xl">
        <div id="project-title" class="row">
            <h1>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h1>
        </div>
        <div class="row">

            {% if page.video %}
            <div class="icontain">
              <iframe src="{{ page.video }}&color=00FA96" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            
        </div>
        <div class="row mt-s mb-l">
            
            <div class="col-sm-5 col-sm-offset-1 mb">

                {{ content }}

            </div>
            <div class="project-details col-sm-4 col-sm-offset-1">
                <h4>Project Details</h4>
                <div class="hline" style="margin-bottom: 15px;"></div>
                <p><b>When:</b> {{ page.date | date: "%b, %Y" }}</p>
                <p><b>What:</b> {{ page.tags }}</p>
                <p><b>Who:</b> {{ page.client }}</p>
                {% if page.website %}<p><b>Where:</b> <a href="{{ page.website }}" target="_blank">{{ page.website }}</a></p>{% endif %}
            </div>
        </div>
        <div class="row">
            {% if page.video2 %}
            <div class="icontain">
              <iframe src="{{ page.video2 }}&color=00FA96" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
        </div>
    </div>
</article>

{% include portfolio-grid.html limit=25 %}